<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=0" />
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="http://www.intptr.im/read.css/assets/normalize.css" />
    <link rel="stylesheet" href="http://www.intptr.im/read.css/read.css" />
    <style>
      .container {
        max-width: 800px;
        margin: 2.4em auto;
        padding: 0 1.2em;
      }
      .read {
        font-size: 14px;
      }
    </style>
  </head>
  <body>
    <div class="container read">
      {{ content }}
    </div>
  </body>
</html>
